name: Linting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  fmt_check:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          components: rustfmt
      - uses: actions/checkout@v3
      - name: Check code formatting
        run: cargo fmt -- --check
  clippy_check:
    name: Clippy check
    runs-on: ubuntu-latest
    steps:
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          components: clippy
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      - name: Clippy
        run: cargo clippy -- -D warnings
  linelint:
    name: Check that files end with line break
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Linelint
        uses: fernandrone/linelint@master
        id: linelint
  unused_dependencies:
    name: Look for unused dependencies
    runs-on: ubuntu-latest
    steps:
      - name: rust-toolchain
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: nightly
          override: true
      - name: Install unused dependency checker
        run: cargo install cargo-udeps --locked
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run unused dependency checker
        run: cargo +nightly udeps
